@model Printercounter2.Models.RepairReportList

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>RepairReportList</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AnnouncementDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AnnouncementDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RepairDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RepairDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReportedError)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReportedError)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DetectedError)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DetectedError)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WorkDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WorkDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UsedMaterials)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UsedMaterials)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Administrator)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Administrator)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Printer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Printer.PrinterID)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.RepairReportListID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
