@model Printercounter2.Models.Printer

@{
    ViewData["Title"] = "Printer details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div>
    <h4>Printer details</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PrinterIP)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PrinterIP)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PrinterName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PrinterName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PrinterModel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PrinterModel)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PrinterDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PrinterDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PrinterSN)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PrinterSN)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PrinterBarcode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PrinterBarcode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PrinterLocation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PrinterLocation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PrinterTonerName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PrinterTonerName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Active)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Active)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.PrinterID">Edit</a> |
    <a asp-controller="Counters" asp-action="Details" asp-route-id="@Model.PrinterID">Counters</a> |
     <a asp-controller="Counters" asp-action="Monthly" asp-route-id="@Model.PrinterID">Monthly report</a> |
    <a asp-action="Index">Back to List</a>
</div>
